* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Noto Serif JP", serif;
  line-height: 1.7; }

body {
  background-color: #000; }

.content {
  width: 90%;
  height: 85vh;
  border: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .content__corner {
    width: 150px;
    height: 200px;
    position: absolute; }
    .content__corner-1 {
      top: -18px;
      left: -30px; }
    .content__corner-2 {
      transform: rotate(180deg);
      right: -30px;
      bottom: -18px; }
    .content__corner-3 {
      transform: rotateY(180deg);
      right: -30px;
      top: -18px; }
    .content__corner-4 {
      transform: rotateX(180deg);
      left: -30px;
      bottom: -18px; }
  .content__logo {
    width: 90px;
    position: absolute;
    left: 50%;
    top: -58px;
    transform: translateX(-50%); }
  .content__rules {
    color: #fff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .content__rules-para {
      font-size: 26px; }
  .content__btn-container {
    display: flex;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    width: 60%; }
    .content__btn-container-btn {
      width: 25%;
      padding: 10px 20px;
      border-radius: 3px;
      border: 1px solid #fff; }
